/* 
    Document   : chart2
    Created on : May 13, 2013, 9:47:10 PM
    Author     : yanghui
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

text.nodenametext {
    font: 10px sans-serif;
    color: black;
}


/***********************************************/
/* Layout Divs                                 */
/***********************************************/
/*#interchart {
    height: 500px;
    width: 800px;
    border: 1px solid gery;
    
}*/

#interchart {

}

#downchart {
    height: 500px;
    width: 200px;
    border: 1px solid red;
}

#topchart {

}
