/* 
    Document   : mainstyle
    Created on : May 15, 2013, 11:06:42 AM
    Author     : hyang
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
    padding-top: 60px; 
}

#upperchart {

}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: relative;
  top: 10px;
  right: 10px;
}
