/* 
    Document   : testchart
    Created on : May 13, 2013, 9:47:22 PM
    Author     : yanghui
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  padding-top: 60px;
  position: relative;
}

button {
  position: absolute;
  right: 10px;
  top: 60px;
}
