/* 
    Document   : wordtree
    Created on : Jun 20, 2013, 9:48:50 AM
    Author     : Hui Yang <hyang@i-a-i.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#wordtreeposition{
    height: 500px;
    width: 1200x;
}